*{
    margin:0;
    padding: 0;
}
.blocks{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex:wrap;
    justify-content: space-around;
    align-items: center;
}
.blocks div{
    background-color: blue;
}